.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.col{
  background: gray;
  border: 10px;
}
.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-slider {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1120px;

}
.centered2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}


.test:hover {
  background-color: green !important;
  color: green !important;

}
