<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back" style="zoom:1.7" color="primary"></ion-icon> <span style="color:dodgerblue;">Back</span>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="busket.length>0 && !oderModalOpen">
      <ion-button (click)="showBusket()">
        <ion-badge style="background-color: red">{{busket.length}}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
            <div *ngIf="showStatus" slot="end">
                <ion-fab-button  slot="end" color="warning" ><span style="color: black !important;" (click)="viewStatus()">Status</span></ion-fab-button>
            </div>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-right" style="padding-right: 18px">
  </div>
    <ion-row>


    <ion-col size="12">
      <ion-searchbar  style="border-radius: 20px !important;" (input)="filterList($event)">
      </ion-searchbar>
    </ion-col>

    <ion-col>
          <ion-item>
            <ion-label>Estimated Time:</ion-label>

            <ionic-selectable
                    #selectComponet
                    [(ngModel)]="selecttedTime"
                    [items]="extimatedTime"
                    itemValueField="id"
                    itemTextField="time"
                    searchFailText="Nothing Found"
                    [hasInfiniteScroll]="true"
                    [canClear]="true"
                    [canSearch]="true"
                    (onChange)="estimatedTime(selecttedTime)"
            >

            </ionic-selectable>

          </ion-item>
            <ion-item>
              <ion-label>Only Vegiterian</ion-label>
              <ion-toggle [(ngModel)]="toggleValue" (ionChange)="filterMealType(toggleValue)"></ion-toggle>
            </ion-item>
    </ion-col>

  </ion-row>

    <ion-row  no-margin>
      <ion-col size-sm='12' size='12' size-lg='6' size-md="6" *ngFor="let meal of goalList | paginate: { itemsPerPage: 4, currentPage: p }" no-padding no-margin>
        <ion-card  (click)="presentModal(meal)" [disabled]="meal.isAvailable===0">
          <ion-card-header no-padding no-margin>

              <div class="top-left">
                           <ion-badge style="background-color: yellow; zoom:1.4; color: black"  *ngIf="meal.isAvailable===0">
                               Not Available
                           </ion-badge>
              </div>
              <img  src= {{meal.imgUrl}} class="img-height" >
          </ion-card-header>
          <ion-card-content no-padding no-margin>

            <div class="ion-text-center" no-padding no-margin>
                <h6 no-padding no-margin style="font-size: large;"> <b>{{meal.name}}</b></h6>
              {{meal.description}}<br>

          <ion-badge style="background-color:green !important;">
               <h3>{{ meal.price | currency:'R':'symbol' }}</h3>
              </ion-badge>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-card *ngIf="goalList.length===0">
      <ion-card-content class="ion-text-center">
          <img src='https://cdn.dribbble.com/users/898770/screenshots/3744292/search-bar.gif'  height=364 alt="" />

      </ion-card-content>
    </ion-card>

<ion-row *ngIf="goalList.length!==0">
    <ion-col class="ion-text-center" size="11">
        <pagination-controls
                class="my-pagination"
                (pageChange)="p = $event"
        >
        </pagination-controls>
    </ion-col>
<!--    <ion-col size="1" >-->
<!--        <ion-fab vertical="bottom" horizontal="end" *ngIf="showStatus">-->
<!--            <ion-fab-button color="warning" ><span style="color: black !important;" (click)="viewStatus()">Status</span></ion-fab-button>-->
<!--        </ion-fab>-->
<!--    </ion-col>-->
</ion-row>
</ion-content>

