<ion-header>
  <ion-toolbar>

    <ion-title>{{meal.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--  <ion-card>-->
<!--    <ion-card-header no-padding no-margin>-->
<!--      <ion-card-title no-padding no-margin>-->
<!--        <ion-img [src]="meal.imgUrl" no-padding no-margin></ion-img>-->
<!--      </ion-card-title>-->
<!--    </ion-card-header>-->
<!--    <ion-card-content no-padding>-->
<!--      <ion-row>-->
<!--        <ion-col size="12" class="ion-text-center">-->
<!--          <ion-card-title no-padding no-margin style="font-size: large">{{meal.name}}</ion-card-title>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
<!--    </ion-card-content>-->
<!-- -->

<!--  </ion-card>-->

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
  </mat-button-toggle-group>




</ion-content>
